@implements IDisposable
@inject IShoppingCartService shoppingCartService

<a href="ShoppingCart" class="btn btn-info">
    <i class="oi oi-cart"></i>Cart
    <span class="badge bg-dark">@ShoppingChartItemCount</span>
</a>

@code {
    private int ShoppingChartItemCount = 0;
    protected override void OnInitialized()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }
    protected void ShoppingCartChanged(int qty)
    {
        ShoppingChartItemCount = qty;
        StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }
}
